In [1]:
import numpy as np
import pandas as pd

In [3]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

In [4]:
d['col1']

[1, 2]

In [5]:
d['col1'][1]

2